Cookies are getting URL encoded twice

Hi there,

I've found a bug in the cookie handling. If the server sets a cookie containing special chars that would require URL encoding, you end up with wrong cookie data.

In Firefox, navigating to https://httpbin.org/cookies/set?name=http%3A%2F%2Flocalhost.asdf.asdf.com returns the following (same behaviour also found in MS Edge or `isahc` for example):
```json
{
  "cookies": {
    "name": "http://localhost.asdf.asdf.com"
  }
}
```

ureq however returns:
```json
{
  "cookies": {
    "name": "http%3A%2F%2Flocalhost.asdf.asdf.com"
  }
}
```

I'm using ureq version `2.0.1` with `cookies` and `charset`(not sure that one matters) features

<details>
<summary>Sample test suite</summary>


```Rust
#[cfg(test)]
mod tests {
    use super::*;

    #[test]
    fn test_ureq() {
        let agent = AgentBuilder::new().build();

        agent
            .get("https://httpbin.org/cookies/set?name=http%3A%2F%2Flocalhost.asdf.asdf.com")
            // .query("name", "http://localhost.asdf.asdf.com")
            .call()
            .unwrap();
        let r = agent
            .get("https://httpbin.org/cookies/set?name2=https%253A%252F%252Flogin.local.host%252F")
            // .query("name2", "https%3A%2F%2Flogin.local.host%2F")
            .call()
            .unwrap();
        let response = agent
            .get("https://httpbin.org/cookies")
            .call()
            .unwrap()
            .into_string();

        assert_eq!(
            response.unwrap(),
            r#"{
  "cookies": {
    "name": "http://localhost.asdf.asdf.com", 
    "name2": "https%3A%2F%2Flogin.local.host%2F"
  }
}
"#
        )
    }

    #[test]
    fn test_isahc() {
        use isahc::http::{Request, Uri};
        use isahc::ReadResponseExt;

        let client = isahc::HttpClientBuilder::new().cookies().build().unwrap();

        client
            .get("https://httpbin.org/cookies/set?name=http%3A%2F%2Flocalhost.asdf.asdf.com")
            .unwrap();
        client
            .get("https://httpbin.org/cookies/set?name2=https%253A%252F%252Flogin.local.host%252F")
            .unwrap();
        let response = client.get("https://httpbin.org/cookies").unwrap().text();

        assert_eq!(
            response.unwrap(),
            r#"{
  "cookies": {
    "name": "http://localhost.asdf.asdf.com", 
    "name2": "https%3A%2F%2Flogin.local.host%2F"
  }
}
"#
        )
    }
}
```

</details>

It's unclear to me whether this is a bug or not.

The row causing this is [here](https://github.com/algesten/ureq/blob/c833acfe5cd8e6f6bb01bde4ca71681873e8bdf9/src/unit.rs#L304)

HTTP headers shouldn't contain anything but ascii and I don't think the spec says anything of what to do if the user wants to send non-ascii.

This seems rather telling. Depending on platform, we see different behaviors. https://stackoverflow.com/a/49213293/437679 which means percent-encoding is not a bad strategy.

However, `://` and a bunch of other fit in ascii and are being percent encoded by `ureq`. 

From https://tools.ietf.org/html/rfc7230

```
     OWS            = *( SP / HTAB )
                    ; optional whitespace

     token          = 1*tchar
     tchar          = "!" / "#" / "$" / "%" / "&" / "'" / "*"
                    / "+" / "-" / "." / "^" / "_" / "`" / "|" / "~"
                    / DIGIT / ALPHA
                    ; any VCHAR, except delimiters
     quoted-string  = DQUOTE *( qdtext / quoted-pair ) DQUOTE
     qdtext         = HTAB / SP /%x21 / %x23-5B / %x5D-7E / obs-text
     obs-text       = %x80-FF

     header-field   = field-name ":" OWS field-value OWS

     field-name     = token
     field-value    = *( field-content / obs-fold )
     field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
     field-vchar    = VCHAR / obs-text
```

The key is `VCHAR (any visible [USASCII] character)`. I guess we shouldn't encode any such character.

@jsha thoughts?




I think the relevant thing here is [the cookie RFC (6265)](https://tools.ietf.org/html/rfc6265#page-9):

```
 set-cookie-header = "Set-Cookie:" SP set-cookie-string
 set-cookie-string = cookie-pair *( ";" SP cookie-av )
 cookie-pair       = cookie-name "=" cookie-value
 cookie-name       = token
 cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
 cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                       ; US-ASCII characters excluding CTLs,
                       ; whitespace DQUOTE, comma, semicolon,
                       ; and backslash
 token             = <token, defined in [RFC2616], Section 2.2>
```

[RFC 2616, section 2.2](https://tools.ietf.org/html/rfc2616#page-17):

```
       CHAR           = <any US-ASCII character (octets 0 - 127)>
...
       CTL            = <any US-ASCII control character
                        (octets 0 - 31) and DEL (127)>
...
       token          = 1*<any CHAR except CTLs or separators>
       separators     = "(" | ")" | "<" | ">" | "@"
                      | "," | ";" | ":" | "\" | <">
                      | "/" | "[" | "]" | "?" | "="
                      | "{" | "}" | SP | HT
```

A cookie name must be a token, and a token cannot contain `:` or `/`. I think either we or the `cookie` crate should be rejecting this cookie name.

Also worth noting: The cookie RFC does not actually specify percent-encoding anywhere. I don't think percent-encoding is a formal part of the spec, but an ad-hoc thing that servers may do in order to round-trip values that may contain `separators` or other illegal values. I think we should not be percent-encoding or decoding cookies. If the server sends us a percent-encoded value, we should pass it back faithfully on the next request. If the server sends us a cookie that doesn't match the cookie grammar (because the name contains `separators`), we should ignore that header.

There's a detailed algorithm for parsing cookie headers in https://tools.ietf.org/html/rfc6265#page-18 that might also be worth taking a look at.

Sorry for the late follow up.

Unfortunately, I'm not familiar at all with the RFCs (I'm just a hobby programmer), so I can't really talk about that perspective of this.

The reason I reported this as a bug is that this behavior differs from other libs and from browsers and it breaks the login system of my university. Additionally, if I was writing a server, I would not expect the client to change the cookie value in any way but would just like to get it back exactly as sent.

> This seems rather telling. Depending on platform, we see different behaviors. https://stackoverflow.com/a/49213293/437679 which means percent-encoding is not a bad strategy.

I might be mistaken, but this seems to cover only the server side of things, e.g. should I as a server use percent-encoding or not (which, in this case, would not work with ureq in either variant, as ureq does some additional encoding).

Therefore, I would agree with the suggestions of @jsha 

As far as I can tell, the necessary steps to fix this would be:

1. remove [said line](https://github.com/algesten/ureq/blob/c833acfe5cd8e6f6bb01bde4ca71681873e8bdf9/src/unit.rs#L304)
2. Test if cookie headers containing invalid cookie names or values are already being ignored in `cookie` (assuming this from [this line](https://github.com/algesten/ureq/blob/c833acfe5cd8e6f6bb01bde4ca71681873e8bdf9/src/unit.rs#L414))
3. If not already handled, fix this in `cookie` (relevant code should be [here](https://github.com/algesten/ureq/blob/c833acfe5cd8e6f6bb01bde4ca71681873e8bdf9/src/unit.rs#L414); I can't easily tell if invalid data is being correctly handled)


I will open a PR for point 1, but I could need some help to write a test case for point 2 (I'm not sure what makes a name/value invalid and how to programmatically test this the best way)

Thanks for fixing this 👍 

I'm sorry, I didn't find any time to work on this...

Regarding the comment at my PR and the comment from @jsha on the invalid cookie name, I'd like to clarify: The cookie name in this example was not invalid and was not causing any issues for me, I think the confusion comes from my (bad) choice of `name` as the name of the cookie. So in the example, `name` is the cookie name and `http://localhost.asdf.asdf.com` is the cookie value

Ah, good to know and thanks for the update!