getting peer (server) certificate from TLS stack

I've switched from mbedtls + ureq2 to rustls+ureq3.  Reasons are many and when moving my code to RIOT-OS (ariel-rs maybe), I'll have to fix this.  I need to get the server certificate.  I do not verify it (yet).  Details are RFC8995 section 5.1 https://www.rfc-editor.org/rfc/rfc8995.html#name-brski-est-tls-establishment  (also see screencasts at https://rfc8995.org/brski-impls.html if you relaly want more details).
{brski-cloud will add the need to verify server certificates, and if they verify, then enable 307 redirects, and if not, then note that, do not accept redirects.  That's later}

When I was doing mbedtls, what I was doing was to keep (Arc<>) a copy of the TLS session object that I passed into ureq, and then ask it for peer certificates.   What I propose for ureq3 (and maybe it's already there) is a get_peer_certificate call that can be made on the RequestBuilder (I think that the right place?).  It would then walk the chain looking for is_tls() being true, and call a get_peer_certificate there, and return that.  I feel that I'm missing some linkage.  
I will make a diagram explaining the structure relationships and get that reviewed (does DIA work as an editable form?)

A different way is to just write a do-nothing certificate verifier, but have it keep a copy of the certificates that it verifies.
(Where. I'm not sure yet)
This might be better in a TLS1.3 world, because certificates do not show up at the same time in 1.3 as for 1.2, and I've noticed that on other frameworks (rails/thin) that this is a problem for client certificates.  I fixed this by saving the client certificates during verification time.



> What I propose for ureq3 (and maybe it's already there) is a get_peer_certificate call that can be made on the RequestBuilder (I think that the right place?). It would then walk the chain looking for is_tls() being true, and call a get_peer_certificate there, and return that. I feel that I'm missing some linkage.

In ureq 3 there is less coupling between `RequestBuilder`, building/configuring the request, and the actual running of the request (`run()` and the chained `Transport`s).

The question is whether you want to abort if the peer certificate is wrong and avoid sending the request + request body? Or is it just for inspection post response?
