unclear how to create run_connector for ConnectionDetails

Hi, I am moving a failed ureq2 application to ureq3 (Failed: because issues with mbedtls/psa-crypto. I had done the MbedTLSConnector for ureq2. I can't fix the mbedtls issues, so we'll proceed with rustls for now).
I have a TCP socket that I've opened to an address that I got from a discovery protocol (GRASP:RFC8990, detail does not matter).
I know I don't want a connection pool.
The socket is already open, so I think that I want a "run_connector" that does nothing.

I saw the custom-rusttls.rs branch. (Actually: I also want TPM too, but not yet).  Not sure actually if that example does the right thing, and it seems more complicated than I would have thought.

````
    let chain =
        ().chain(ConnectProxyConnector::default())
            .chain(TcpConnector::default())
            .chain(connector);
````
I don't understanding starting from ()....   [just when I think I know Rust]
I guess this chain is bottom to top.

I think that the ConnectionDetails object has gotten too wrapped up in the pool support.
Maybe it's enough that run_connector has an Option<> around it.  Or maybe we just need a good example of a do nothing?


> I know I don't want a connection pool.

You can turn off connection pooling by [setting this to 0](https://docs.rs/ureq/3.0.12/ureq/config/struct.ConfigBuilder.html#method.max_idle_connections).

> I don't understanding starting from ().... [just when I think I know Rust]

Great feedback! `()` is just a starting point. It got no significance other than "start from an empty chain". But I can see how it looks weird – it would be clearer with something like `ConnectorChain::empty().chain(a).chain(b)`.

> I guess this chain is bottom to top.

No, it's top to bottom. The idea is that every connector can chose to do three things.

a. Create a new connection.
b. Pass along a previously created connection.
c. Create a new connection by wrapping the previous.

The chain above has

1. CONNECT proxy
2. TCP socket
3. rustls

The logic is: 

* step 1, [_if_ we are to have a CONNECT proxy](https://github.com/algesten/ureq/blob/a3005534fd761e927f2570d10d43d558da054775/src/connect.rs#L36-L42) (by environment variables or explicit conf), we start that (case a). 
* step 2, the TCP connector will [do nothing if there already is a connection](https://github.com/algesten/ureq/blob/a3005534fd761e927f2570d10d43d558da054775/src/unversioned/transport/tcp.rs#L27-L32) (case b) and if not, try create a socket (case a). 
* step 3, rustls doesn't care if the connection is CONNECT or TCP, it [checks if the scheme is https](https://github.com/algesten/ureq/blob/a3005534fd761e927f2570d10d43d558da054775/src/tls/rustls.rs#L41-L50), and if so, wraps the previous connection in TLS (case c).

> I think that the ConnectionDetails object has gotten too wrapped up in the pool support.

Maybe. The idea of connection pooling is intrinsic to HTTP/1.1. 

The architecture is not aimed for a situation where you want to create the connection outside of the connector chain, and then use it only once (how would redirects work?). 

Could you elaborate on why it's important to obtain the GRASP connection outside of the connector chain?

> > I know I don't want a connection pool.
> 
> You can turn off connection pooling by [setting this to 0](https://docs.rs/ureq/3.0.12/ureq/config/struct.ConfigBuilder.html#method.max_idle_connections).

I am not saying I hate it, I'm saying that I think that we the ConnectionDetails is hard to initialize.
It has grown attributes which can't really be initialized.  So we need to refactor a bit here.

> > I don't understanding starting from ().... [just when I think I know Rust]
> 
> Great feedback! `()` is just a starting point. It got no significance other than "start from an empty chain". But I can see how it looks weird – it would be clearer with something like `ConnectorChain::empty().chain(a).chain(b)`.

I guess the compiler figures out from later use that it's a ConnectorChain, and I guess the call to empty() is implicit.
It's sure hard for a person reading that code to understand what's going on.  Yes, the above line would be clearer.

> > I guess this chain is bottom to top.
> 
> No, it's top to bottom. The idea is that every connector can chose to do three things.

I think it's a matter of perspective.  For me, the TCP socket is at the bottom (next to the user/kernel boundary, just above it), and the CONNECT proxy sits on top of that, and the TLS on top of that.    So I think we are in violent agreement.

> The architecture is not aimed for a situation where you want to create the connection outside of the connector chain, and then use it only once (how would redirects work?).

Actually, they don't, and that's a feature.  The TLS certificate verification 

> Could you elaborate on why it's important to obtain the GRASP connection outside of the connector chain?

1. It's an IPv6-LL address, so it needs a scope filled in.  I haven't even checked if we support %eth0 properly. I guess I could convert the address to a string and %interface, and all that.  
2. GRASP (RFC8990) is an integral part of RFC8994 / RFC8995. Yes, I'm an author.  
3. trying to do HTTPS to a printer found via mDNS or DNS-SD would have similiar problems.  (There are more problems around certificate verification, that the IETF SETTLE BOF might work on)

I' ve created a new Connector, which I called NoConnector :-)
https://gist.github.com/mcr/0f0a7ac92a48ea49475f4b8d052dcf86
it required that I mark use ureq::unversioned::transport::tcp::TcpTransport; as pub.
(pub mod tcp in transport/mod.rs)  This might be a smell.
This seems like the cleanest solution, better than what I was trying to do before.

I'll try to turn this into a simple example/functional test, if this is the best way to proceed.






> I am not saying I hate it, I'm saying that I think that we the ConnectionDetails is hard to initialize.
> It has grown attributes which can't really be initialized. So we need to refactor a bit here.

Yeah, ConnectionDetails was never intended to be initialized by anything else but ureq, but I can see that would be useful in unit tests etc.

> * It's an IPv6-LL address, so it needs a scope filled in.  I haven't even checked if we support %eth0 properly. I guess I could convert the address to a string and %interface, and all that.
> 
> * GRASP (RFC8990) is an integral part of RFC8994 / RFC8995. Yes, I'm an author.
> 
> * trying to do HTTPS to a printer found via mDNS or DNS-SD would have similiar problems.  (There are more problems around certificate verification, that the IETF SETTLE BOF might work on)

Thanks! Gives me some insight into this problem.

> I' ve created a new Connector, which I called NoConnector :-)

Haha! Yep, that looks good!

> I see a refactor where there is a way to do an HTTP request on some "dyn ReadWrite", and redirects are either exceptions or just not supported.

Interesting idea! 🤔 – feels like something definitely should be doable here.